.logo-image {
  margin: 0px 30px;
  width: 254px;
  height: 170px;
  border-radius: 8px;
  border: none;
}
.slick-prev:before {
  color: #ffffff;
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 767px) {
  .slick-prev:before {
    width: 24px;
    height: 24px;
  }
  .slick-next:before {
    width: 24px;
    height: 24px;
  }
  .logo-image {
    width: 140px;
    height: 120px;
    margin: 0px 13px;
  }
}
.slick-next:before {
  color: #ffffff;
  width: 56px;
  height: 56px;
}
.slider-container {
  width: 90%;
  margin-bottom: 32px;
  align-items: center;
  justify-content: center;
}
