.footer-container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-container {
    margin-top: 64px;
  }
  .footer-icons-container {
    margin-bottom: 14px;
  }
  .footer-icon {
    width: 14px;
    height: 16px;
    margin-right: 18px;
  }
  .footer-description {
    font-size: 12px;
    margin-bottom: 48px;
  }
}
.footer-icons-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.footer-icon {
  width: 21px;
  height: 21px;
  color: #ffffff;
  margin-right: 24px;
}
.footer-description {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Roboto';
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 64px;
}
