.similar-movie {
  width: 255px;
  height: 170px;
  border-radius: 8px;
  border: none;
  margin-right: 30px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .similar-movie {
    width: 90px;
    max-width: 120px;
    height: 65px;
    max-height: 100px;
    margin-right: 13px;
    margin-bottom: 12px;
  }
}
